* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.about-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: white;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 10px;
  padding: 10px;
}

h2 {
  margin-top: 30px;
}

ul > i {
  font-size: 150%;
  margin-left: 5px;
}

.interests,
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-info {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
.icon {
  position: relative;
  z-index: 3;
}
.icon::before {
  top: -5px;
  left: -5px;
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: blue;
  z-index: -1;
}

.line {
  font-size: 70px;
  color: blue;
  display: flex;
  gap: 20px;
}
