* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.about-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: white;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  gap: 10px;
  padding: 10px;
}

img {
  margin-top: 10%;
  width: 500px;
  height: 500px;
  margin-right: 30px;
  object-fit: cover;
}

h2 {
  margin-top: 30px;
  margin-left: 2%;
}

h3 {
  margin-left: 2%;
}

ul > i {
  font-size: 150%;
  margin-left: 5px;
  color: blue;
}

.interests,
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-info {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.icon {
  position: relative;
  z-index: 3;
}

.icon::before {
  top: -10px;
  left: -20px;
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: blue;
  z-index: -1;
}

.line {
  font-size: 70px;
  color: blue;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1665px) {
  .about-content {
    margin-top: 10%;
  }

  img {
    width: 400px;
  }
}

@media screen and (max-width: 1357px) {
  .my_image {
    margin-left: -200px;
  }
}

@media screen and (max-width: 1158px) {
  .about-content {
    font-size: 80%;
  }
}

@media screen and (max-width: 890px) {
  .my_image {
    display: none;
  }

  .about-content {
    margin-left: 50px;
  }
}

@media screen and (max-width: 620px) {
  .about-content {
    font-size: 60%;
    margin-left: 100px;
  }
}

@media screen and (max-width: 520px) {
  .about-info {
    display: flex;
    flex-direction: column;
    gap: 1%;
  }

  .about-info h2 {
    display: flex;
    justify-content: center;
  }

  .about-content {
    font-size: 55%;
  }
}

@media screen and (max-width: 497px) {
  .about-content {
    padding: 0%;
    margin: 10%;
  }
}
