.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50px;
}

h1 {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.icon {
  position: relative;
  z-index: 3;
}
