* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
}

h1, h2, h3, p, nav, span {
  color: #fff;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

nav {
  display: none;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

/* Landing Page */ 

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-title {

}

.main-title p {
  font-size: 2em;
}


.main-title span {
  font-size: 4em;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 42px;
  background-color: white;
  animation: blink .6s linear infinite alternate;
 }


@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

/* About Page */

.about-us {
  text-align: center;
}

.life-choices__col {
  display: flex;
  justify-content: center;
  gap: 50px;
}


/* Project Page */

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/Contact_Form.png);
  background-size: cover;
  background-position: center;
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/Timeline.png);
  background-size: cover;
  background-position: center;
}

.card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/Testimonial_slider.png);
  background-size: cover;
  background-position: center;
}

.card4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/Temperture_converter.png);
  background-size: cover;
  background-position: center;
}

.card5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/Recursion.png);
  background-size: cover;
  background-position: center;
}

.card6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/Speedster.png);
  background-size: cover;
  background-position: center;
}