.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  font-size: 150%;
  background: pink;
  position: fixed;
  top: 0;
  left: -100%;
  width: 20vw;
  height: 100vh;
  justify-content: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
  z-index: 100;
}

.navbar-links.active {
  left: 0;
}

.navbar-anchor {
  display: flex;
  right: 0;
  text-decoration-line: none;
  color: black;
  font-weight: bold;
  font-size: 110%;
  margin-left: 22%;
  margin-right: 16%;
  padding: 1%;
}

.navbar-anchor:hover {
  background-color: blue;
  color: white;
}

.navbar-button {
  position: fixed;
  top: 3;
  left: 3;
  z-index: 100;
  font-size: 25px;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  color: black;
  transition: 0.5s ease-in-out;
}

.navbar-button:hover {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 50px;
  margin: 4px 2px;
  transform: rotate(180deg);
}

.social-links {
  bottom: 0;
}

@media screen and (max-width: 1420px) {
  .navbar-anchor {
    margin-left: 10px;
    font-size: 80%;
    height: 100vh;
  }
}

@media screen and (max-width: 892px) {
  .navbar-anchor {
    font-size: 50%;
    height: 100vh;
  }
}

@media screen and (max-width: 570px) {
  .navbar-anchor {
    font-size: 35%;
    height: 100vh;
  }

  .navbar-links {
    gap: 50px;
  }
}
