* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.testimonials-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subheading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
