* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.testimonials-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  flex-direction: column;
}

.owl-carousel {
  overflow: hidden;
  width: 70vw;
  height: 70vh;
  z-index: 0;
}

.card {
  margin-right: 50px;
  font-size: 85%;
  padding: 30px;
  background: white;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid black;
  height: 300px;
}

h4 {
  margin-bottom: 15px;
  margin-top: 10px;
}

h5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

img {
  border-radius: 50px;
}

.lower {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}

.text {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  margin-left: 2%;
}

.lines {
  font-size: 70px;
  color: rgb(22, 38, 184);
  display: flex;
  gap: 20px;
}

.icon::before {
  top: -20px;
  left: 30%;
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgb(22, 38, 184);
  z-index: -1;
}

@media screen and (max-width: 865px) {
  .card {
    font-size: 90%;
  }
}

@media screen and (max-width: 740px) {
  .card {
    font-size: 80%;
  }
}

@media screen and (max-width: 577px) {
  .card {
    font-size: 65%;
  }
}

@media screen and (max-width: 460px) {
  .owl-carousel .owl-item img {
    height: 80px;
    width: 80px;
  }

  .card {
    font-size: 55%;
  }
}

@media screen and (max-width: 338px) {
  .card {
    font-size: 40%;
  }
}
