* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.testimonials-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  flex-direction: column;
}

.owl-carousel {
  overflow: hidden;
  width: 70vw;
  height: 70vh;
  z-index: 0;
}

.card {
  margin-top: 100px;
  margin-right: 50px;
  padding: 10px;
  background: rgba(170, 170, 170, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 300px;
}

h4 {
  margin-bottom: 15px;
  margin-top: 20px;
}

h5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 30%;
  height: 30%;
}

img {
  border-radius: 50px;
}

.lower {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}

.text {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  margin-left: 2%;
}

.lines {
  font-size: 70px;
  color: blue;
  display: flex;
  gap: 20px;
}

.icon::before {
  top: -20px;
  left: 30%;
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: blue;
  z-index: -1;
}
