* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.experience-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 150px;
}

h3 {
  margin-left: 180px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul > i {
  font-size: 200%;
}

.xp-content > h2 {
  display: flex;
  margin-top: -85px;
  margin-right: 100px;
}

.xp-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}

.school {
  display: flex;
  flex-direction: row;
  margin-right: 250px;
}

.edu-content > h2 {
  margin-right: 230px;
}

.edu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-left: 200px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 15%;
  font-size: 200%;
  padding: 50px;
}

.skill-icons {
  display: flex;
  gap: 250px;
  font-size: 250%;
  margin-top: 50px;
}

.skill-icons > i:hover {
  color: blue;
}
