* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.experience-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

h3 {
  margin-left: 180px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul > i {
  font-size: 200%;
  color: rgb(22, 38, 184) ue;
}

.xp-content > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xp-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}

.xp-content > ul {
  margin-left: -115px;
}

.school {
  display: flex;
  flex-direction: row;
  margin-right: 62%;
}

.edu-content > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.edu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  font-size: 200%;
  padding: 50px;
}

.skill-icons {
  display: flex;
  flex-direction: row;
  gap: 250px;
  font-size: 250%;
  margin-top: 10%;
  transition: 0.5s ease-in-out;
}

.skill-icon {
  display: flex;
  flex-direction: row;
}

p {
  display: flex;
  font-size: 20%;
  align-items: center;
  margin-left: 5%;
  transition: 0.5s ease-in-out;
  font-weight: bolder;
}

.skill-icon:hover p {
  font-size: 60%;
}

.skill-icon i {
  transition: 0.5s ease-in-out;
}

.skill-icon:hover i {
  color: blue;
  transform: rotate(360deg);
}

.lines {
  font-size: 70px;
  color: rgb(22, 38, 184);
  display: flex;
  gap: 20px;
}

.icon::before {
  top: -20px;
  left: 10%;
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgb(22, 38, 184);
  z-index: -1;
}

@media screen and (max-height: 879px) {
  .icons {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1500px) {
  .skill-icons {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    gap: 25px;
  }
}

@media screen and (max-width: 817px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
  }

  .xp-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
  }

  h3 {
    margin-left: 0;
  }
}

@media screen and (max-width: 979px) {
  .main-content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 817px) {
  .heading h3 {
    display: flex;
    justify-content: center;
  }

  .icon::before {
    position: relative;
  }

  .content h2 {
    display: flex;
    justify-content: center;
  }
}
